html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: 'Special Elite', cursive;
}

body {
	background-color: rgba(255, 255, 0, 0.026);
}

header {
	height: 75px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-left: 400px; */
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

nav img {
	height: 40px;
}

nav h1 {
	color: rgb(242, 240, 228);

	font-size: 2rem;
}

.form-container {
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgb(130, 130, 130);
}

.form-container p {
	display: flex;
	flex-direction: column;
}

.form-container input {
	height: 20px;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
}

.form-container button {
	font-family: 'Special Elite', cursive;
	padding: 12px 45px;
	text-align: center;
	/* text-transform: uppercase; */
	transition: 0.3s;
	/* background-size: 200% auto; */
	color: white;
	background-color: black;
	box-shadow: 0 0 20px #eee;
	border-radius: 5px;
	display: block;
	align-self: center;
	justify-content: center;
	border-style: none;
	height: 100%;
	color: rgb(242, 240, 228);
}

.form-container button:hover {
	background-position: right center; /* change the direction of the change here */
	color: rgb(0, 0, 0);
	text-decoration: none;
	cursor: pointer;
	/* background-color: rgb(31, 155, 0); */
	background-color: rgb(11, 180, 5);
}

.deleteBtn {
	font-family: 'Special Elite', cursive;
	font-size: 1.3rem;
	/* padding: 10px 10px; */
	text-align: center;
	transition: 0.5s;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 0);
	border-radius: 50%;
	display: block;
	align-self: center;
	justify-content: center;
	border-style: none;
}

.deleteBtn:hover {
	cursor: pointer;
	color: red;
}

.library-table {
	border-collapse: collapse;
	margin: 25px 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.library-table thead tr {
	text-align: left;
}

.library-table th,
.library-table td {
	padding: 12px 35px;
}

.library-table tbody tr {
	border-bottom: 1px solid rgb(203, 203, 203);
}

/* .library-table tr:nth-of-type(even) {
	background-color: rgb(188, 188, 188);
} */

.library-table th {
	font-size: 1.15rem;
	background-color: rgba(0, 0, 0, 0.055);
	color: rgb(0, 0, 0);
}
